<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <form [formGroup]="incidentform">
    <mat-card class="card-incident">
      <mat-card-title class="card-head">Add Incident</mat-card-title>

      <mat-card-content>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput type="string" placeholder="Subject name" [required]="true" formControlName="subject">
            <mat-error align="start" *ngIf="incidentform.controls.subject.errors?.pattern">Please enter valid subject</mat-error>
            <mat-error align="start" *ngIf="incidentform.controls.subject.errors?.required">Please enter address</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Description" [required]="true" formControlName="description">
            <mat-error align="start" *ngIf="incidentform.controls.description.errors?.required">Please enter description</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput type="number" placeholder="Priority" [required]="true" formControlName="priority">
            <mat-error align="start" *ngIf="incidentform.controls.priority.errors?.required">Please enter priority number</mat-error>
            <mat-error align="start" *ngIf="incidentform.controls.priority.errors?.pattern">Please enter valid priority</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;outline&apos;">
            <input matInput placeholder="Date Picker" [matDatepicker]="picker" formControlName="date" [min]="toDaysDate" [required]="true" [disabled]="false">
            <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="false"></mat-datepicker>
            <mat-error align="start" *ngIf="incidentform.controls.date.errors?.required">Please select incident date</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="text-wormwhite btn-background-purple" (click)="onSubmit()">Submit</button></div>
      </mat-card-content>
    </mat-card>
  </form>
</div>