<mat-toolbar class="toolbar"><span class="text-purple app-name">
                Incident App</span><span class="example-spacer">
                </span><button mat-mini-fab class="menu-items text-wormwhite btn-background-purple" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button><button mat-mini-fab class="menu-items text-wormwhite btn-background-purple" (click)="goToList()">
    <mat-icon>home</mat-icon>
  </button><button mat-mini-fab class="menu-items btn-background-purple text-wormwhite" *ngIf="isLogin === false" (click)="login()">
    <mat-icon>power_settings_new</mat-icon>
  </button><button mat-mini-fab class="text-wormwhite btn-background-purple" *ngIf="isLogin === true" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button></mat-toolbar>