/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

/* toolbar */
.toolbar{
    background-color: #ffd53f;
    .app-name{
        font-size: 1.4em;  
        font-family: 'The Times of Roman'; 
    }
}

/* buttons */
.btn-background-white{
    background-color: transparent !important;
    box-shadow: none !important;
}
.btn-background-purple{
    background-color: #6d38b5 !important;
}
.btn-background-danger{
    background-color: red !important;
}
/* text */
.text-wormwhite{
    color: #fdfdfd !important;
}
.text-purple{
    color: #775ada !important;
}
.text-danger{
    color: red !important;
}
/* menu items */
.menu-items{
    margin-right: 10px !important;
}
.example-spacer {
  flex: 1 1 auto;
}
/* shape */
/* card */
.card-incident{
    box-shadow: none !important;
    .card-head{
        text-align: center;
    }
}
.card-incident-tabel{
    width: 80%;
    box-shadow: none !important;
}
/* table */
.table-header{
    font-size: 1.2em;
    font-weight: bold;
}