<bh-navbarpage></bh-navbarpage>
<div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <mat-card class="card-incident-tabel">
    <mat-card-content align="left">
      <div fxLayout="column">

        <div fxLayout="row" fxLayoutAlign="end">
          <div fxLayout="column" fxFlex="end">
            <mat-form-field fxFlex="100">
              <input matInput (keyup)="applyFilter($event)" placeholder="Search">
            </mat-form-field>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="table-width-fix">
          <tr mat-header-row *matHeaderRowDef="[&apos;priority&apos;,&apos;subject&apos;,&apos;description&apos;,&apos;date_of_incident | date&apos;,&apos;ad2a0fd0-57c1-6642-fcea-c6c76ae39db7&apos;,&apos;ae1c064f-f8d3-78fd-9c91-df7a415004b9&apos;]"></tr>
          <tr mat-row *matRowDef="let row; columns: [&apos;priority&apos;,&apos;subject&apos;,&apos;description&apos;,&apos;date_of_incident | date&apos;,&apos;ad2a0fd0-57c1-6642-fcea-c6c76ae39db7&apos;,&apos;ae1c064f-f8d3-78fd-9c91-df7a415004b9&apos;];"></tr>

          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header text-purple">Incident Priority </th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.priority}}</td>
          </ng-container>

          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef class="table-header text-purple">Incident Subject </th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.subject}}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="table-header text-purple">Incident Description</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.description}}</td>
          </ng-container>

          <ng-container matColumnDef="date_of_incident | date">
            <th mat-header-cell *matHeaderCellDef class="table-header text-purple">Incident Date</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.date_of_incident | date}}</td>
          </ng-container>

          <ng-container matColumnDef="ad2a0fd0-57c1-6642-fcea-c6c76ae39db7">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let table; let i = index;"><button mat-mini-fab class="btn-background-white text-purple" (click)="openDialog(table)">
                <mat-icon>edit</mat-icon>
              </button></td>
          </ng-container>

          <ng-container matColumnDef="ae1c064f-f8d3-78fd-9c91-df7a415004b9">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let table; let i = index;"><button mat-mini-fab class="btn-background-white text-danger" (click)="conformDelete(table)">
                <mat-icon>delete</mat-icon>
              </button></td>
          </ng-container>
        </table>
        <mat-paginator [length]="dataList.length" [pageSize]="5">
        </mat-paginator>

      </div>
    </mat-card-content>
  </mat-card>
</div>